body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Assets/billy-huynh-W8KTS-mhFUE-unsplash.jpg');
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*My starting point*/

.event-header {
    text-align: center;
    color: white;
    font-size: 68px;
    font-weight: bold;
    font-family: Brush Script MT, Brush Script Std, cursive; /*arial*/
    padding-top: 1em;
}

.panel {
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 20px pink;
}

.panel-heading {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: lightpink; 
    font-size: 25px;
}

/*.create-new-event {
    font-size: 25px;
}*/

.event-board {
    
    /*backdrop-filter: opacity();*/
}

.footer {
    text-align: center;
    background-color: whitesmoke;
    color: darkslategray;
    font-size: 18px;
    padding-top: 22px;
    border: 2px solid darkslategray;
}

.home-page-head {
    text-align: center;
    color: darkslateblue;
    font-weight: bold;
    padding: 50px 50px 30px 50px;
    background-color: pink;
    border: 3px dotted lavender;
    font-family: 'Brush Script MT';
    font-size: 75px;
    /*font-family: Brush Script MT, Brush Script Std, cursive;
    */
    border-radius: 1em;
    box-shadow: 0 0 20px black; /*gray?*/
}

.home-container {
    padding: 50px 50px 50px 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: white;
    border: 5px solid darkslategray;
    border-radius: 2em;
    opacity: 0.91;
    box-shadow: 0 0 40px black; /*white?*/
}

.home-page-subheadings {
    background-color: pink;
    opacity: 0.93;
    text-align: center;
    border: 3px dotted lavender;
    padding: 50px 50px 150px 70px;
    border-radius: 3em;
    margin-top: 50px;
    box-shadow: 0 0 20px black;
}

.lead {
    font-family: 'Brush Script MT';
    font-size: 45px;
    font-weight: bold;
}

.expense-header {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1em;
}

.btn {
    background-color: darkblue;
    border: 3px solid lightblue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.guest-header {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1em;
}

.navbar {
    
}

.about-contact-page {
    background-color: white;
    padding: 10px 50px 50px 50px;
    color: darkblue;
    font-size: 25px;
    text-align: center;
    /*box-shadow: 0 0 20px black;*/
}

.about-contact-header {
    background-color: white;
    text-align: center;
    color: darkblue;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}

.panel-subheading {
    background-color: lightblue; /*light gray?*/
    font-size: 25px;
    color: darkblue;
}

.form-horizontal {
    background-color: aliceblue; /*white*/
    font-size: 16px;
    opacity: 0.96;
    padding: 50px 50px 50px 50px;
    border-radius: 2em;
    box-shadow: 0 0 40px black;
}

h2 {
    color: white;
    text-align: center;
    font-size: 45px;
}

.dl-horizontal {
    background-color: aliceblue;
    font-size: 16px;
    opacity: 0.96;
    padding: 50px 50px 50px 50px;
    border-radius: 2em;
}

.details-delete-options {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    border-radius: 2em;
    font-size: 20px;
}





