@{
    ViewBag.Title = "About";
}
<div class="about-contact-header">@ViewBag.Title</div>

<div class="about-page">
    <h3>
        Feeling stressed with planning your next party or big event? Allow Cheers! to help! <br>
        Cheers! is a free application used for planning parties/celebratory events such as birthday parties, weddings, or holiday parties.
        Just register for an account or log in to get started!<br>

        <br>
        Some of its features include:<br>
        -Logging information for multiple parties/events at once<br>
        -Keeping track of guests<br>
        -Managing expenses<br>
        <br>
    </h3>
    <div class="hand-image">
        <img src="~/Content/Assets/amy-shamblen-lJt-3NUFng4-unsplash.jpg" height="250" width="280" /><br />
    </div>
    <br />
    <h3>Created By Nadia Belghozlane</h3>
</div>


