@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>
    Feeling stressed with planning your next party or big event? Allow Cheers! to help!
    Cheers! is an application used for planning celebratory events such as birthday parties, weddings, or holiday parties.
</h3>

<p></p>
