@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="home-page-head">
        <h1>Cheers!</h1>
        <p class="lead">Party and Event Planning</p>
        <p><a href="/Event" class="btn btn-primary btn-lg">Start Planning Now!</a></p>
    </div>
</div>

<div class="home-page-subheadings">
    <div class="col-md-4 col-sm-6">
        <!--<h2>Guests</h2>-->
        <p>
            
        </p>
        <p><a class="btn btn-primary btn-lg" href="/Guest/">Guest List</a></p>
    </div>
    <div class="col-md-4 col-sm-6">
        <!--<h2>Expenses</h2>-->
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="/Expense/">Track Expenses</a></p>
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->
</div>
