@{
    ViewBag.Title = "Home Page";
}


<div class="home-container">
    <div class="home-page-head">
        <h2>Cheers!</h2>
        <p class="lead">Party and Event Planning</p>
        <p><a href="/Event" class="btn btn-primary btn-lg">Start Planning Now!</a></p>
    </div>
</div>
<!--<div class="jumbotron">
    <div class="home-page-head">
        <h2>Cheers!</h2>
        <p class="lead">Party and Event Planning</p>
        <p><a href="/Event" class="btn btn-primary btn-lg">Start Planning Now!</a></p>
    </div>
</div>-->

<div class="home-page-subheadings">

    <div class="col-lg-3 col-lg-offset-2">
        <!--<h2>Guests</h2>-->
        <img src="~/Content/Assets/peopleicon.png" />
        <p><a class="btn btn-lg" href="/Guest/">Guest List</a></p>
    </div>
    <div class="col-lg-5">
        <!--<h2>Expenses</h2>-->
        <img src="~/Content/Assets/piggiebank.png" />
        <p><a class="btn btn-lg" href="/Expense/">Track Expenses</a></p>
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->

</div>
